@page "/"
@namespace BlazorSignalRChat.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorSignalRChat</title>
    <base href="/" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <app>
        <component type="typeof(BlazorSignalRChat.App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
